*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}


.container{
    margin: 0px auto;
    border: 1px solid black;
    background-color: rgb(59, 59, 59);
    width: 800px;
    height: 700px;
}

.display{
    margin-top: 20px;
    border: 4px solid rgb(41,167,199);
    width: 100% - border;
    height: 15%;
    background-color: lightblue;
}

header{
    text-align: center;
}

form{
    margin-top: 20px;
}



input{
    margin-bottom: 5px; 
}

ul li{
    list-style: none;
}

button{
    width: 100%;
    display: block;
}

/* Estilos de botones */

.btn-green{
    background-color:  green;
    color: white;
}


.btn-blue{
    background-color:  blue;
    color: white;
}

.btn-orange{
    background-color: darkorange;
    color: white;
}

.btn-purple{
    color: white;
    background-color: darkmagenta;
}

.btn-teal{
    color: white;
    background-color: teal;
}

/* Titulos y navbar */

h1{
    margin: 10px;
    color: white;
}

h2{
    color: rgb(41,167,199);
    font-size: 70px;
}

h3{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(195,195,195);
}

h4{
    text-align: center;
    width: 100%;
}

nav{
    height: 25px;
    background-color: black;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: white;
}

nav ul li a:hover{
    color: black; 
    text-decoration: none;
} 



.FiguresPanel{
    width: 100%;
    height: 70%;
}

.SquarePanel{
    width: 33.33%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.TrianglePanel{
    width: 33.33%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.CirclePanel{
    width: 33.33%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(59, 59, 59);
}

.clearfix{
    display: none;
    float: none;
}

.item-lista{
    margin: 10px;
    background-color: gray;
}

.item-lista input{
    width: 98.5%;
}

.cleanDisplay{
    width: 100%;
    background-color: red;
    color: white;
}

.nav-li-item{
    display: block;
    padding: 10px;
    float: left;
    color: black;
    line-height: 8px;
}

/* Estilos de descuentos */

.discountPanel{
    width: 100%;
    height: 70%;
}


.discount{
    width: 50%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
}

.discountCoupons{
    width: 49.58%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.cuponesGenerados{
    display: none;
}
 
/* Estilos para panel estadistico  */

.estadisticaPanel{
    width: 100%;
    height: 80%;
}


.panelMediana{
    width: 25%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.panelModa{
    width: 25%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.panelPromedio{
    width: 25%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
}

.serieGenerada{
    display: none;
}

.panelMedianaArmonica{
    width: 25%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.PanelSalario{
    width: 100%;
    height: 80%;
}

.PanelPaises{
    width: 33.33%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
}

.PanelAnalisis{
    width: 33.33%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.PanelAnalisisLibre{
    width: 33.33%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    float: right;
}

.listaGuatemala{
    display: none;
}

.listaSalvador{
    display: none;
}

.listaHonduras{
    display: none;
}

.panelInformativo{
    width: 100%;
    height: 90%;
    background-color: white;
}

